* {
	border: 1px solid black;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*SEARCH BAR*/
.search_bar {
	width: 300px;
	height: 20px;
	margin: auto;
}

.text_input {
	width: 80%;
	height: 100%;
	float: left;
}

.search_button {
	width: 18.5%;
	height: 100%;
	float: left;
}